html {
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    width: 100%;

    position: relative;

    background-color: rgb(237, 237, 237);
    background-image: url('source/pexels-la-miko-3616764.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    width: 100%;

    position: absolute;
    position: fixed;
    top: 0;
    z-index: 1;

    transition: all .5s;
}


header a {
    color: white;
}

header img {
    width: 14rem;
}

.header-b {
    background-color: rgba(124, 124, 124, 0.404);
}

.header-b img {
    width: 8rem;
}

.header-b a {
    color: black;
}

main {
    position: relative;
    z-index: 0;
}

.contacts-header a:hover {
    opacity: .7;
}

.carousel img {
    filter: blur(4px);
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .carousel img {
        height: 50vh;
    }
}

@media screen and (max-width: 600px) {
    header img {
        width: 8rem;
    }
}

.title-main {
    position: relative;
}

.content {
    background-color: rgb(241, 241, 241);
}

.content p {
    padding: 0 10%;
    text-align: center;
}

.profession {
    text-align: center;
}

.card-prof {
    padding: 1% 10%;
}

.card {
    padding: 0;
    margin: 1.5%;
}

.card i {
    padding-top: 2rem;

    font-size: 650%;
    text-align: center;
}

.card p {
    font-size: 1.5rem;
    opacity: .9;
    text-align: center;
}

.card a {
    width: 100%;
}

.faq {
    margin: 0 auto;
}

.question form {
    margin: 0 auto;
    width: 300px;
}

.question form .btn-group {
    display: block;
}

.contacts {
    width: 60%;
    margin: 0 auto;
}

.contacts p {
    font-size: 110%;
}

.contacts i {
    font-size: 100%;
}

.contacts span {
    font-size: 80%;
}